body{
    background-color:mediumblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:'Press Start 2P', cursive;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.buttons{
    display: grid;
    width:28rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:  1fr 1fr;
    gap: 2rem;
    margin-top: 50px;
}

.btn{
    height: 13rem;
    width: 13rem;
    border-radius: 50px;
    border: 10px solid black;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}